Repository entropicalabs/openqaoa: changes, and which Codecov flags are due for each by the changed paths.
All: core, qiskit, braket, azure, pyquil

More tests for pyquil update
  debug copy.txt
  debug.txt
  src/openqaoa-core/openqaoa/backends/qaoa_device.py
  src/openqaoa-pyquil/openqaoa_pyquil/backend_config.py
  src/openqaoa-pyquil/openqaoa_pyquil/backends/qaoa_pyquil_qpu.py
  src/openqaoa-pyquil/tests/test_circuit_routing_pyquil.py
Due: core, pyquil

Update gitignore
  .gitignore
  debug.txt
Due: none

Updated requirements qiskit for 1.0.0 release
  src/openqaoa-qiskit/requirements.txt
Due: qiskit

Updated tests for new qiskit devices
  src/openqaoa-qiskit/tests/test_circuit_routing_qiskit.py
  src/openqaoa-qiskit/tests/test_gate_applicators_qiskit.py
  src/openqaoa-qiskit/tests/test_qiskit_backend_wrapper.py
  src/openqaoa-qiskit/tests/test_qpu_qiskit.py
Due: qiskit

Updated example devices
  examples/03_qaoa_on_qpus.ipynb
  examples/14_qaoa_benchmark.ipynb
Due: none

Formatted using black
  docs/source/conf.py
  src/openqaoa-core/openqaoa/problems/bpsp.py
  src/openqaoa-core/tests/test_bpsp.py
  src/openqaoa-core/tests/test_qubo.py
  src/openqaoa-qiskit/tests/test_circuit_routing_qiskit.py
  src/openqaoa-qiskit/tests/test_gate_applicators_qiskit.py
  tests/test_imports.py
Due: core, qiskit

Changed deprecated expression into result.get_register_map()
  src/openqaoa-pyquil/openqaoa_pyquil/backends/qaoa_pyquil_qpu.py
Due: pyquil

Bumped version number and updated CHANGELOG.md
  CHANGELOG.md
  _version.py
  src/openqaoa-azure/openqaoa_azure/_version.py
  src/openqaoa-braket/openqaoa_braket/_version.py
  src/openqaoa-core/openqaoa/_version.py
  src/openqaoa-pyquil/openqaoa_pyquil/_version.py
  src/openqaoa-qiskit/openqaoa_qiskit/_version.py
Due: core, qiskit, braket, azure, pyquil

first commit
  README.md
Due: none

added ZNEWrapper
  src/openqaoa-core/openqaoa/backends/wrapper.py
Due: core

untitled.ipnb deleted
  src/openqaoa-core/openqaoa/algorithms/qaoa/Untitled.ipynb
Due: core

ZNEWrapper works, executor uses default observable, notebook compares with noiseless qaoa
  src/openqaoa-core/openqaoa/backends/wrapper.py
  src/openqaoa-core/test.ipynb
Due: core

changes over the wrapper and a possible solution for the espected value
  src/openqaoa-braket/openqaoa_braket/backends/qaoa_braket_qpu.py
  src/openqaoa-core/openqaoa/algorithms/qaoa/qaoa_result.py
  src/openqaoa-core/openqaoa/algorithms/qaoa/qaoa_workflow.py
  src/openqaoa-core/openqaoa/backends/wrapper.py
  src/openqaoa-core/test.ipynb
  src/openqaoa-pyquil/openqaoa_pyquil/backends/qaoa_pyquil_qpu.py
  src/openqaoa-qiskit/openqaoa_qiskit/backends/qaoa_qiskit_qpu.py
Due: core, qiskit, braket, pyquil

working on support for IBM Quantum devices, still not finished
  src/openqaoa-core/openqaoa/backends/wrapper.py
  src/openqaoa-core/test.ipynb
Due: core

updated results
  src/openqaoa-core/caldata.json
Due: core

updated results
  src/openqaoa-core/test.ipynb
Due: core

Remove debug files
  debug copy.txt
  debug.txt
Due: none

Replace QPU by QVM in circuit routing tests
  src/openqaoa-pyquil/tests/test_circuit_routing_pyquil.py
Due: pyquil

changes on the notebook test
  src/openqaoa-core/test.ipynb
Due: core

added marco's notebook
  src/openqaoa-core/test-marco.ipynb
Due: core

added results
  results/1-extended-rand-x-Nelder-Mead-1.png
  results/1-extended-rand-x-Nelder-Mead-2.png
  results/1-standard-ramp-x-COBYLA-1.png
  results/1-standard-ramp-x-COBYLA-2.png
  results/1-standard-ramp-x-Nelder-Mead-1.png
  results/1-standard-ramp-x-Nelder-Mead-2.png
  results/1-standard-ramp-x-Powell-1.png
  results/1-standard-ramp-x-Powell-2.png
  results/1-standard-ramp-xy-COBYLA-1.png
  results/1-standard-ramp-xy-COBYLA-2.png
  results/1-standard-ramp-xy-Nelder-Mead-1.png
  results/1-standard-ramp-xy-Nelder-Mead-2.png
  results/1-standard-ramp-xy-Powell-1.png
  results/1-standard-ramp-xy-Powell-2.png
  results/1-standard-rand-x-COBYLA-1.png
  results/1-standard-rand-x-COBYLA-2.png
  results/1-standard-rand-x-Nelder-Mead-1.png
  results/1-standard-rand-x-Nelder-Mead-2.png
  results/1-standard-rand-x-Powell-1.png
  results/1-standard-rand-x-Powell-2.png
  results/1-standard-rand-xy-COBYLA-1.png
  results/1-standard-rand-xy-COBYLA-2.png
  results/1-standard-rand-xy-Nelder-Mead-1.png
  results/1-standard-rand-xy-Nelder-Mead-2.png
  results/1-standard-rand-xy-Powell-1.png
  results/1-standard-rand-xy-Powell-2.png
  src/openqaoa-core/test-marco.ipynb
Due: core

changes
  src/openqaoa-core/.png
  src/openqaoa-core/Adriano_Results/9-1-24/exp1/1.1qaoa_maxcut_probs.png
  src/openqaoa-core/Adriano_Results/9-1-24/exp1/1.2qaoa_maxcut_cost.png
  src/openqaoa-core/Adriano_Results/9-1-24/exp1/2.1qaoanoise_maxcut_probs.png
  src/openqaoa-core/Adriano_Results/9-1-24/exp1/2.2qaoa_qaoanoise_maxcut_cost.png
  src/openqaoa-core/Adriano_Results/9-1-24/exp1/2.3qaoanoise_maxcut_cost.png
  src/openqaoa-core/Adriano_Results/9-1-24/exp1/3.1qaoazne_maxcut_probs.png
  src/openqaoa-core/Adriano_Results/9-1-24/exp1/3.2qaoa_qaoanoise_qaoazne_maxcut_cost.png
  src/openqaoa-core/Adriano_Results/9-1-24/exp1/3.3qaoanoise_qaoazne_maxcut_cost.png
  src/openqaoa-core/Adriano_Results/9-1-24/exp1/conditions.txt
  src/openqaoa-core/Adriano_Results/9-1-24/exp1/description.txt
  src/openqaoa-core/Adriano_Results/9-1-24/exp2/conditions.txt
  src/openqaoa-core/Adriano_Results/9-1-24/exp3/3-standard-ramp-x-COBYLA-1.png
  src/openqaoa-core/Adriano_Results/9-1-24/exp3/3-standard-ramp-x-Nelder-Mead-1.png
  src/openqaoa-core/Adriano_Results/9-1-24/exp3/3-standard-ramp-x-Powell-1.png
  src/openqaoa-core/Adriano_Results/9-1-24/exp3/3-standard-ramp-xy-COBYLA-1.png
  src/openqaoa-core/Adriano_Results/9-1-24/exp3/3-standard-ramp-xy-Nelder-Mead-1.png
  src/openqaoa-core/Adriano_Results/9-1-24/exp3/3-standard-ramp-xy-Powell-1.png
  src/openqaoa-core/Adriano_Results/9-1-24/exp3/3-standard-rand-x-COBYLA-1.png
  src/openqaoa-core/Adriano_Results/9-1-24/exp3/3-standard-rand-x-Nelder-Mead-1.png
  src/openqaoa-core/Adriano_Results/9-1-24/exp3/3-standard-rand-x-Powell-1.png
  src/openqaoa-core/Adriano_Results/9-1-24/exp3/3-standard-rand-xy-COBYLA-1.png
  src/openqaoa-core/Adriano_Results/9-1-24/exp3/3-standard-rand-xy-Nelder-Mead-1.png
  src/openqaoa-core/Adriano_Results/9-1-24/exp3/3-standard-rand-xy-Powell-1.png
  src/openqaoa-core/Adriano_Results/9-1-24/exp3/3-standard_w_bias-ramp-x-Nelder-Mead-1.png
  src/openqaoa-core/Adriano_Results/9-1-24/exp3/3-standard_w_bias-rand-x-COBYLA-1.png
  src/openqaoa-core/Adriano_Results/9-1-24/exp3/3-standard_w_bias-rand-x-Nelder-Mead-1.png
  src/openqaoa-core/Adriano_Results/9-1-24/exp3/3-standard_w_bias-rand-x-Powell-1.png
  src/openqaoa-core/Adriano_Results/9-1-24/exp3/3-standard_w_bias-rand-xy-COBYLA-1.png
  src/openqaoa-core/Adriano_Results/9-1-24/exp3/3-standard_w_bias-rand-xy-Nelder-Mead-1.png
  src/openqaoa-core/Adriano_Results/9-1-24/exp3/3-standard_w_bias-rand-xy-Powell-1.png
  src/openqaoa-core/Adriano_Results/9-1-24/exp3/test-adriano-2.ipynb
  src/openqaoa-core/test-adriano.ipynb
Due: core

changes
  results/Adriano_Results/9-1-24/exp1/1.1qaoa_maxcut_probs.png
  results/Adriano_Results/9-1-24/exp1/1.2qaoa_maxcut_cost.png
  results/Adriano_Results/9-1-24/exp1/2.1qaoanoise_maxcut_probs.png
  results/Adriano_Results/9-1-24/exp1/2.2qaoa_qaoanoise_maxcut_cost.png
  results/Adriano_Results/9-1-24/exp1/2.3qaoanoise_maxcut_cost.png
  results/Adriano_Results/9-1-24/exp1/3.1qaoazne_maxcut_probs.png
  results/Adriano_Results/9-1-24/exp1/3.2qaoa_qaoanoise_qaoazne_maxcut_cost.png
  results/Adriano_Results/9-1-24/exp1/3.3qaoanoise_qaoazne_maxcut_cost.png
  results/Adriano_Results/9-1-24/exp1/conditions.txt
  results/Adriano_Results/9-1-24/exp1/description.txt
  results/Adriano_Results/9-1-24/exp2/conditions.txt
  results/Adriano_Results/9-1-24/exp3/3-standard-ramp-x-COBYLA-1.png
  results/Adriano_Results/9-1-24/exp3/3-standard-ramp-x-Nelder-Mead-1.png
  results/Adriano_Results/9-1-24/exp3/3-standard-ramp-x-Powell-1.png
  results/Adriano_Results/9-1-24/exp3/3-standard-ramp-xy-COBYLA-1.png
  results/Adriano_Results/9-1-24/exp3/3-standard-ramp-xy-Nelder-Mead-1.png
  results/Adriano_Results/9-1-24/exp3/3-standard-ramp-xy-Powell-1.png
  results/Adriano_Results/9-1-24/exp3/3-standard-rand-x-COBYLA-1.png
  results/Adriano_Results/9-1-24/exp3/3-standard-rand-x-Nelder-Mead-1.png
  results/Adriano_Results/9-1-24/exp3/3-standard-rand-x-Powell-1.png
  results/Adriano_Results/9-1-24/exp3/3-standard-rand-xy-COBYLA-1.png
  results/Adriano_Results/9-1-24/exp3/3-standard-rand-xy-Nelder-Mead-1.png
  results/Adriano_Results/9-1-24/exp3/3-standard-rand-xy-Powell-1.png
  results/Adriano_Results/9-1-24/exp3/3-standard_w_bias-ramp-x-Nelder-Mead-1.png
  results/Adriano_Results/9-1-24/exp3/3-standard_w_bias-rand-x-COBYLA-1.png
  results/Adriano_Results/9-1-24/exp3/3-standard_w_bias-rand-x-Nelder-Mead-1.png
  results/Adriano_Results/9-1-24/exp3/3-standard_w_bias-rand-x-Powell-1.png
  results/Adriano_Results/9-1-24/exp3/3-standard_w_bias-rand-xy-COBYLA-1.png
  results/Adriano_Results/9-1-24/exp3/3-standard_w_bias-rand-xy-Nelder-Mead-1.png
  results/Adriano_Results/9-1-24/exp3/3-standard_w_bias-rand-xy-Powell-1.png
  src/openqaoa-core/Adriano_Results/9-1-24/exp3/test-adriano-2.ipynb
Due: core

fixed bugs and added results
  results/Marco_Results/ZNE exploration/Exp-fold_gates_from_right.png
  results/Marco_Results/ZNE exploration/FakeNodes-fold_gates_from_right.png
  results/Marco_Results/ZNE exploration/Linear-fold_gates_from_right.png
  results/Marco_Results/ZNE exploration/Poly-fold_gates_at_random.png
  results/Marco_Results/ZNE exploration/Poly-fold_gates_from_left.png
  results/Marco_Results/ZNE exploration/Poly-fold_gates_from_right.png
  results/Marco_Results/ZNE exploration/Richardson-fold_gates_from_right.png
  src/openqaoa-core/caldata.json
  src/openqaoa-core/openqaoa/backends/wrapper.py
  src/openqaoa-core/test-marco-zne.py
Due: core

fixed bugs and added other results
  results/Marco_Results/ZNE exploration/AdaExp-fold_gates_at_random.png
  results/Marco_Results/ZNE exploration/AdaExp-fold_gates_from_left.png
  results/Marco_Results/ZNE exploration/AdaExp-fold_gates_from_right.png
  results/Marco_Results/ZNE exploration/PolyExp-fold_gates_at_random.png
  results/Marco_Results/ZNE exploration/PolyExp-fold_gates_from_left.png
  results/Marco_Results/ZNE exploration/PolyExp-fold_gates_from_right.png
  src/openqaoa-core/caldata.json
  src/openqaoa-core/openqaoa/backends/wrapper.py
  src/openqaoa-core/test-marco-zne.py
Due: core

For_Marco folder created
  results/Adriano_Results/For_Marco/Untitled.ipynb
  results/Adriano_Results/For_Marco/prob1_4-standard-rand-x-COBYLA.png
  results/Adriano_Results/For_Marco/prob1_4-standard-rand-x-Nelder-Mead.png
  results/Adriano_Results/For_Marco/prob1_4-standard-rand-x-Powell.png
  results/Adriano_Results/For_Marco/prob1_4-standard-rand-x-Powell_noise.png
  results/Adriano_Results/For_Marco/prob1_4-standard-rand-x-Powell_qaoanoise.png
Due: none

some modifications over the Code, and results of experiments
  results/Adriano_Results/3-2-24/exp1/OpenQAOA_idealvVSnoisyVSZNEmitigated.ipynb
  results/Adriano_Results/3-2-24/exp1/caldata.json
  results/Adriano_Results/3-2-24/exp1/costhistory.png
  results/Adriano_Results/3-2-24/exp1/maxcutqaoa_ideal.json
  results/Adriano_Results/3-2-24/exp1/maxcutqaoa_mitigated.json
  results/Adriano_Results/3-2-24/exp1/maxcutqaoa_noisy.json
Due: none

added fix
  src/openqaoa-core/openqaoa/backends/wrapper.py
Due: core

Fix memory_map issue by simultaneous extraction of angle names and values
  src/openqaoa-pyquil/openqaoa_pyquil/backends/qaoa_pyquil_qpu.py
  src/openqaoa-pyquil/tests/test_circuit_routing_pyquil.py
  src/openqaoa-pyquil/tests/test_pyquil_qvm.py
Due: pyquil

Clean up debugging statements
  src/openqaoa-pyquil/openqaoa_pyquil/backends/qaoa_pyquil_qpu.py
  src/openqaoa-pyquil/tests/test_circuit_routing_pyquil.py
Due: pyquil

Added openqaoa-pyquil back into test workflows
  .github/workflows/test_dev.yml
  .github/workflows/test_main_linux.yml
  .github/workflows/test_main_macos.yml
  .github/workflows/test_main_windows.yml
Due: none

Added openqaoa-pyquil back inn test_imports.py
  tests/test_imports.py
Due: none

Path conditions:
  core: any of: src/openqaoa-core, but not: path/to/folder, src/*/*/backends/backend_config.py, **/__init__.py
  qiskit: any of: src/openqaoa-qiskit, but not: path/to/folder, src/*/*/backends/backend_config.py, **/__init__.py
  braket: any of: src/openqaoa-braket, but not: path/to/folder, src/*/*/backends/backend_config.py, **/__init__.py
  azure: any of: src/openqaoa-azure, but not: path/to/folder, src/*/*/backends/backend_config.py, **/__init__.py
  pyquil: any of: src/openqaoa-pyquil, but not: path/to/folder, src/*/*/backends/backend_config.py, **/__init__.py
