Repository entropicalabs/openqaoa: changes, and which Codecov flags are due for each by the changed paths.
All: core, qiskit, braket, azure, pyquil

codecov.yml:

ignore:
  - "path/to/folder"  # ignore folders and all its contents
  - "src/*/*/backends/backend_config.py" # ignore the backend_config.py file for all plugins
  - "**/__init__.py"

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
  - component_id: openqaoa-core
    name: core
    paths:
      - src/openqaoa-core
  - component_id: openqaoa-qiskit
    name: qiskit
    paths:
      - src/openqaoa-qiskit
  - component_id: openqaoa-braket
    name: braket
    paths:
      - src/openqaoa-braket
  - component_id: openqaoa-azure
    name: azure
    paths:
      - src/openqaoa-azure
  - component_id: openqaoa-pyquil
    name: pyquil
    paths:
      - src/openqaoa-pyquil
  
  
coverage:
  status:
    patch:
      default:
        target: 0%
    project:
      default:
        target: 80%

Update testing workflows
  .github/workflows/test_main_linux.yml
  .github/workflows/test_main_macos.yml
  .github/workflows/test_main_windows.yml
Due: none

Fix windows test workflow
  .github/workflows/test_main_windows.yml
Due: none

Fix windows workflow
  .github/workflows/test_main_windows.yml
Due: none

Add requirement for qpu
  .github/workflows/test_main_windows.yml
Due: none

Update test_circuit_routing_qiskit.py
  src/openqaoa-qiskit/tests/test_circuit_routing_qiskit.py
Due: qiskit

Fixed qpu to run notebooks on
  examples/03_qaoa_on_qpus.ipynb
  examples/14_qaoa_benchmark.ipynb
Due: none

fix qvm issue in notebook
  examples/03_qaoa_on_qpus.ipynb
Due: none

catching ibm issues with job cancellation
  src/openqaoa-qiskit/tests/test_qpu_qiskit.py
Due: qiskit

Testing nested docker tests
  src/openqaoa-braket/tests/test_aws_managed_jobs.py
Due: braket

Fixed test for AWSLocalJobs
  src/openqaoa-braket/tests/test_aws_managed_jobs.py
Due: braket

Changed seeding
  src/openqaoa-core/openqaoa/problems/binpacking.py
  src/openqaoa-core/openqaoa/problems/portfoliooptimization.py
  src/openqaoa-core/openqaoa/problems/qubo.py
  src/openqaoa-core/openqaoa/problems/sherrington_kirkpatrick.py
  src/openqaoa-core/openqaoa/problems/tsp.py
  src/openqaoa-core/openqaoa/problems/vehiclerouting.py
  src/openqaoa-core/tests/test_qubo.py
Due: core

Fixed typing
  src/openqaoa-core/openqaoa/problems/qubo.py
  src/openqaoa-core/tests/test_qubo.py
Due: core

TypeError details
  src/openqaoa-core/openqaoa/problems/qubo.py
Due: core

Fixed problems test
  src/openqaoa-core/tests/test_bin_packing.py
  src/openqaoa-core/tests/test_portfolio_optimization.py
  src/openqaoa-core/tests/test_sk.py
  src/openqaoa-core/tests/test_tsp.py
  src/openqaoa-core/tests/test_vrp.py
Due: core

[skip ci] fixed notebooks 3 and 14
  examples/03_qaoa_on_qpus.ipynb
  examples/14_qaoa_benchmark.ipynb
Due: none

Run black formatter
  src/openqaoa-core/openqaoa/problems/qubo.py
  src/openqaoa-core/tests/test_bin_packing.py
  src/openqaoa-core/tests/test_portfolio_optimization.py
  src/openqaoa-core/tests/test_qubo.py
  src/openqaoa-core/tests/test_sk.py
  src/openqaoa-core/tests/test_tsp.py
Due: core

[skip ci] Updated CHANGELOG.md
  CHANGELOG.md
Due: none

[skip ci]updated versions to 0.2.0
  _version.py
  src/openqaoa-azure/openqaoa_azure/_version.py
  src/openqaoa-braket/openqaoa_braket/_version.py
  src/openqaoa-core/openqaoa/_version.py
  src/openqaoa-pyquil/openqaoa_pyquil/_version.py
  src/openqaoa-qiskit/openqaoa_qiskit/_version.py
Due: core, qiskit, braket, azure, pyquil

fix regular requirements for openqaoa
  src/openqaoa-core/requirements.txt
  src/openqaoa-core/requirements_test.txt
Due: core

fix openqaoa plugin finder issue with lower python versions
  src/openqaoa-core/openqaoa/backends/plugin_finder.py
Due: core

bumped version numbers
  src/openqaoa-azure/openqaoa_azure/_version.py
  src/openqaoa-braket/openqaoa_braket/_version.py
  src/openqaoa-core/openqaoa/_version.py
  src/openqaoa-pyquil/openqaoa_pyquil/_version.py
  src/openqaoa-qiskit/openqaoa_qiskit/_version.py
Due: core, qiskit, braket, azure, pyquil

bumped version of metapackage
  _version.py
Due: none

Fix docstrings for cost_1q_angles, cost_2q_angles and mixer_1q_angles and mixer_2q_angles
  src/openqaoa-core/openqaoa/qaoa_components/variational_parameters/variational_baseparams.py
Due: core

Updated links in .rst format
  docs/source/openqaoa_azure/openqaoa_azure_install.rst
  docs/source/openqaoa_braket/openqaoa_braket_install.rst
  docs/source/openqaoa_metapackage_install.rst
  docs/source/openqaoa_pyquil/openqaoa_pyquil_install.rst
  docs/source/openqaoa_qiskit/openqaoa_qiskit_install.rst
Due: none

Updqted links in .rst format
  docs/source/openqaoa_core/openqaoa_core_install.rst
Due: none

Updated documentation changelog (ref directly from CHANGELOG.md) + requirements
  docs/source/changelog.md
  docs/source/changelog.rst
  docs/source/conf.py
  src/openqaoa-core/requirements_docs.txt
Due: core

Updated QCSClient
  src/openqaoa-pyquil/openqaoa_pyquil/backends/devices.py
Due: pyquil

Removed EngagementManager no longer supported
  src/openqaoa-core/openqaoa/backends/qaoa_device.py
  src/openqaoa-pyquil/openqaoa_pyquil/backend_config.py
  src/openqaoa-pyquil/openqaoa_pyquil/backends/devices.py
Due: core, pyquil

Update docstring
  src/openqaoa-pyquil/openqaoa_pyquil/backends/devices.py
Due: pyquil

Temporary fix for pyauil breaking changes
  src/openqaoa-pyquil/requirements.txt
Due: pyquil

Updated CHANGELOG.md and bumped version number
  CHANGELOG.md
  _version.py
  src/openqaoa-azure/openqaoa_azure/_version.py
  src/openqaoa-braket/openqaoa_braket/_version.py
  src/openqaoa-core/openqaoa/_version.py
  src/openqaoa-pyquil/openqaoa_pyquil/_version.py
  src/openqaoa-qiskit/openqaoa_qiskit/_version.py
Due: core, qiskit, braket, azure, pyquil

Updated colormap changes matplotlib 3.8.0
  src/openqaoa-core/openqaoa/utilities.py
Due: core

Fixed unsupported ibmq_manila in test
  src/openqaoa-qiskit/tests/test_qpu_qiskit.py
Due: qiskit

Updated key names for AWS cli
  .github/workflows/test_dev.yml
  .github/workflows/test_main_linux.yml
Due: none

Fixed old environment variable names causing aws cli to fail setting up
  .github/workflows/test_dev.yml
  .github/workflows/test_main_linux.yml
Due: none

Fixed api tests for qasm simulator
  src/openqaoa-qiskit/tests/test_qpu_qiskit.py
Due: qiskit

Removed backend_qpu/device.backend_device duplicate
  src/openqaoa-braket/openqaoa_braket/backends/qaoa_braket_qpu.py
  src/openqaoa-qiskit/tests/test_qpu_qiskit.py
Due: qiskit, braket

Remove duplicate backend_qpu/device.backend_device to implement sessions
  src/openqaoa-qiskit/openqaoa_qiskit/backends/qaoa_qiskit_qpu.py
Due: qiskit

Fixed bug to connection Qiskit backend
  src/openqaoa-braket/openqaoa_braket/backends/qaoa_braket_qpu.py
  src/openqaoa-qiskit/openqaoa_qiskit/backends/qaoa_qiskit_qpu.py
Due: qiskit, braket
