Repository entropicalabs/openqaoa: changes, and which Codecov flags are due for each by the changed paths.
All: core, qiskit, braket, azure, pyquil

codecov.yml:

ignore:
  - "path/to/folder"  # ignore folders and all its contents
  - "src/*/*/backends/backend_config.py" # ignore the backend_config.py file for all plugins
  - "**/__init__.py"

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
  - component_id: openqaoa-core
    name: core
    paths:
      - src/openqaoa-core
  - component_id: openqaoa-qiskit
    name: qiskit
    paths:
      - src/openqaoa-qiskit
  - component_id: openqaoa-braket
    name: braket
    paths:
      - src/openqaoa-braket
  - component_id: openqaoa-azure
    name: azure
    paths:
      - src/openqaoa-azure
  - component_id: openqaoa-pyquil
    name: pyquil
    paths:
      - src/openqaoa-pyquil
  
  
coverage:
  status:
    patch:
      default:
        target: 0%
    project:
      default:
        target: 80%

Updated RQAOA workflow to allow Azure sessions
  src/openqaoa-core/openqaoa/algorithms/rqaoa/rqaoa_workflow.py
Due: core

Clean up debugging process
  src/openqaoa-core/openqaoa/algorithms/rqaoa/rqaoa_workflow.py
Due: core

Fixed typos
  src/openqaoa-qiskit/tests/test_workflows_qiskit.py
Due: qiskit

pdated WrappedQAOA description
  src/openqaoa-core/openqaoa/algorithms/rqaoa/rqaoa_workflow.py
Due: core

Fixed typo in WrappedQAOA compilation
  src/openqaoa-core/openqaoa/algorithms/rqaoa/rqaoa_workflow.py
Due: core

Created and Partially Implemented a BPSP Problem Class
  src/openqaoa-core/openqaoa/problems/bpsp.py
Due: core

Added CPLEX Model for BPSP
  src/openqaoa-core/openqaoa/problems/bpsp.py
Due: core

Added QUBO Encoding of BPSP
  src/openqaoa-core/openqaoa/problems/bpsp.py
Due: core

Added Classical Solution Function
  src/openqaoa-core/openqaoa/problems/bpsp.py
Due: core

Modified Init File in Problems
  src/openqaoa-core/openqaoa/problems/__init__.py
Due: none

Fixed Some Bugs
  src/openqaoa-core/openqaoa/problems/bpsp.py
Due: core

Finished bpsp.py
  src/openqaoa-core/openqaoa/problems/bpsp.py
Due: core

Fixed Some Bug
  src/openqaoa-core/openqaoa/problems/bpsp.py
Due: core

Fixed Plotting Function to Work with Numpy Arrays
  src/openqaoa-core/openqaoa/problems/bpsp.py
Due: core

Updated documentation generation
  docs/requirements.txt
  docs/source/changelog.md
  docs/source/conf.py
  docs/source/openqaoa_metapackage_install.rst
Due: none

Fixed Plot Paint Sequence
  src/openqaoa-core/openqaoa/problems/bpsp.py
Due: core

Modified BPSP to Pass test_qubo.py Tests
  src/openqaoa-core/openqaoa/problems/bpsp.py
  src/openqaoa-core/openqaoa/problems/helper_functions.py
  src/openqaoa-core/tests/test_qubo.py
Due: core

Fixed Bug with CPLEX Solver
  src/openqaoa-core/openqaoa/problems/bpsp.py
Due: core

Fixed Another Bug in CPLEX Objective Value
  src/openqaoa-core/openqaoa/problems/bpsp.py
Due: core

Started writing Unit Tests for BPSP
  src/openqaoa-core/tests/test_bpsp.py
Due: core

Fixed Bugs in BPSP Test
  src/openqaoa-core/tests/test_bpsp.py
Due: core

Removeed print statement
  src/openqaoa-core/openqaoa/problems/tsp.py
Due: core

[skip ci] Run black formatter
  src/openqaoa-core/openqaoa/algorithms/rqaoa/rqaoa_workflow.py
  src/openqaoa-core/openqaoa/qaoa_components/variational_parameters/variational_baseparams.py
  src/openqaoa-qiskit/tests/test_qpu_qiskit.py
Due: core, qiskit

[skip ci] Update CHANGELOG.md
  CHANGELOG.md
Due: none

[skip ci] Bumped version number
  _version.py
  src/openqaoa-azure/openqaoa_azure/_version.py
  src/openqaoa-braket/openqaoa_braket/_version.py
  src/openqaoa-core/openqaoa/_version.py
  src/openqaoa-pyquil/openqaoa_pyquil/_version.py
  src/openqaoa-qiskit/openqaoa_qiskit/_version.py
Due: core, qiskit, braket, azure, pyquil

Made Changes Suggested by Kilian on bpsp.py, test_bpsp.py, and test_qubo.py
  src/openqaoa-core/openqaoa/problems/bpsp.py
  src/openqaoa-core/tests/test_bpsp.py
  src/openqaoa-core/tests/test_qubo.py
Due: core

Improved Testing in bpsp_test.py
  src/openqaoa-core/tests/test_bpsp.py
Due: core

Update bin packing tutorial
  examples/community_tutorials/04_binpacking.ipynb
Due: none

Fixing pyquil 4. breaking changes - QCSClientConfiguration - EngagementManager
  src/openqaoa-pyquil/openqaoa_pyquil/backends/devices.py
  src/openqaoa-pyquil/requirements.txt
  src/openqaoa-pyquil/tests/test_gate_applicators_pyquil.py
Due: pyquil

Fixing pyquil 4. breaking changes - get_qubits() deprecation and list output
  src/openqaoa-pyquil/tests/test_gate_applicators_pyquil.py
Due: pyquil

get_qubits() replaced by get_qubit_indices()
  src/openqaoa-pyquil/openqaoa_pyquil/backends/qaoa_pyquil_qpu.py
Due: pyquil

Removed pyquil from global package
  Makefile
  setup.py
Due: none

Remove pyquil tests from the pipeline TEMPORARILY
  .github/workflows/test_dev.yml
Due: none

Remove pyquil from main test pipeline TEMPORARILY
  .github/workflows/test_main_linux.yml
  .github/workflows/test_main_macos.yml
  .github/workflows/test_main_windows.yml
Due: none

Removed more pyquil related tests TEMPORARILY + changed back of one notebook
  examples/community_tutorials/02_docplex_example.ipynb
  tests/test_imports.py
Due: none

Tests to fix pyquil deprecations
  src/openqaoa-pyquil/openqaoa_pyquil/backends/qaoa_pyquil_qpu.py
Due: pyquil

Remove duplicate requirement myst_parser
  docs/requirements.txt
Due: none

[skip ci] Updated CHANGELOG.md
  CHANGELOG.md
Due: none

[skip ci] Bumped version numbers
  _version.py
  src/openqaoa-azure/openqaoa_azure/_version.py
  src/openqaoa-braket/openqaoa_braket/_version.py
  src/openqaoa-core/openqaoa/_version.py
  src/openqaoa-pyquil/openqaoa_pyquil/_version.py
  src/openqaoa-qiskit/openqaoa_qiskit/_version.py
Due: core, qiskit, braket, azure, pyquil
