Repository entropicalabs/openqaoa: changes, and which Codecov flags are due for each by the changed paths.
All: core, qiskit, braket, azure, pyquil

codecov.yml:

ignore:
  - "path/to/folder"  # ignore folders and all its contents
  - "src/*/*/backends/backend_config.py" # ignore the backend_config.py file for all plugins
  - "**/__init__.py"

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
  - component_id: openqaoa-core
    name: core
    paths:
      - src/openqaoa-core
  - component_id: openqaoa-qiskit
    name: qiskit
    paths:
      - src/openqaoa-qiskit
  - component_id: openqaoa-braket
    name: braket
    paths:
      - src/openqaoa-braket
  - component_id: openqaoa-azure
    name: azure
    paths:
      - src/openqaoa-azure
  - component_id: openqaoa-pyquil
    name: pyquil
    paths:
      - src/openqaoa-pyquil
  
  
coverage:
  status:
    patch:
      default:
        target: 0%
    project:
      default:
        target: 80%

Added openqaoa-pyquil bacck into Makefile
  Makefile
Due: none

Fix SingletonGate import + remove PauliSumOp -> SparsePauliOp
  src/openqaoa-qiskit/tests/test_gate_applicators_qiskit.py
Due: qiskit

PauliSumOp -> SparsePauliOp
  src/openqaoa-qiskit/openqaoa_qiskit/backends/qaoa_qiskit_sim.py
Due: qiskit

Removed deprecation QasmSimulator -> AerSimulator
  src/openqaoa-qiskit/tests/test_workflows_qiskit.py
Due: qiskit

Removed deprecation bind_parameters() -> assign_parameters()
  src/openqaoa-qiskit/openqaoa_qiskit/backends/qaoa_qiskit_qpu.py
  src/openqaoa-qiskit/openqaoa_qiskit/backends/qaoa_qiskit_sim.py
Due: qiskit

Removed deprecation int0 -> intp
  src/openqaoa-core/tests/test_optimizers.py
Due: core

Closed figure to free up memory
  src/openqaoa-core/tests/test_portfolio_optimization.py
Due: core

Implemented consistent figure handling and added relevant docstrings
  src/openqaoa-core/openqaoa/algorithms/qaoa/qaoa_result.py
  src/openqaoa-core/openqaoa/problems/binpacking.py
  src/openqaoa-core/openqaoa/problems/kcolor.py
  src/openqaoa-core/openqaoa/problems/maximalindependentset.py
  src/openqaoa-core/openqaoa/problems/portfoliooptimization.py
  src/openqaoa-core/openqaoa/problems/sherrington_kirkpatrick.py
  src/openqaoa-core/openqaoa/problems/vehiclerouting.py
Due: core

Updated tests with better figure handling
  src/openqaoa-core/tests/test_bin_packing.py
  src/openqaoa-core/tests/test_kcolor.py
  src/openqaoa-core/tests/test_mis.py
  src/openqaoa-core/tests/test_portfolio_optimization.py
  src/openqaoa-core/tests/test_result_object.py
  src/openqaoa-core/tests/test_sk.py
  src/openqaoa-core/tests/test_tsp.py
  src/openqaoa-core/tests/test_vrp.py
Due: core

Updated tests with better fiure handling
  src/openqaoa-qiskit/tests/test_result_object_qiskit.py
Due: qiskit

Added explicit conversion to real to remove Warnings
  src/openqaoa-core/openqaoa/derivatives/qfim.py
Due: core

Improved figure handling + updated notebooks
  examples/01_workflows_example.ipynb
  examples/02_simulators_comparison.ipynb
  examples/06_fast_qaoa_simulator.ipynb
  examples/07_cost_landscapes_w_manual_mode.ipynb
  examples/08_results_example.ipynb
  examples/10_workflows_on_Amazon_braket.ipynb
  examples/13_optimizers.ipynb
  examples/community_tutorials/01_tutorial_quantum_approximate_optimization_algorithm.ipynb
  examples/community_tutorials/04_binpacking.ipynb
  examples/community_tutorials/mvc_examples/bipartite_graphs.ipynb
  src/openqaoa-core/openqaoa/algorithms/rqaoa/rqaoa_result.py
  src/openqaoa-core/openqaoa/utilities.py
Due: core

Fixed LaTeX expression
  examples/04_qaoa_variational_parameters.ipynb
Due: none

Improved figure handling + updated notebook
  examples/05_advanced_parameterization.ipynb
Due: none

Removed ';'
  examples/11_Mixer_example.ipynb
Due: none

Fixed LaTeX expression rendering
  examples/community_tutorials/03_portfolio_optimization.ipynb
Due: none

Updated RQAOA example for Azure
  examples/12_testing_azure.ipynb
Due: none

Fixed pytest
  examples/community_tutorials/04_binpacking.ipynb
Due: none

Fixing pytest
  examples/community_tutorials/04_binpacking.ipynb
Due: none

One more plt.close()
  src/openqaoa-core/tests/test_result_object.py
Due: core

changes over the wrapper get_counts()
  src/openqaoa-core/openqaoa/algorithms/workflow_properties.py
  src/openqaoa-core/openqaoa/backends/wrapper.py
  src/openqaoa-core/test-cob-noise.png
  src/openqaoa-core/test-cobyla-noise-exp.png
  src/openqaoa-core/test-marco.ipynb
Due: core

new classes created, in order to take out the cldata json from ZNE implementatiob
  src/openqaoa-core/caldata.json
  src/openqaoa-core/openqaoa/algorithms/baseworkflow.py
  src/openqaoa-core/openqaoa/algorithms/qaoa/qaoa_workflow.py
  src/openqaoa-core/openqaoa/algorithms/workflow_properties.py
  src/openqaoa-core/openqaoa/backends/wrapper.py
  src/openqaoa-core/test-marco.ipynb
Due: core

changes
  src/openqaoa-core/kp1-melder-mead-mitigated.png
Due: core

delete changes to readme file
  README.md
Due: none

Rename everything to cirq but still use qiskit imports
  src/openqaoa-cirq/LICENSE
  src/openqaoa-cirq/MANIFEST.in
  src/openqaoa-cirq/README.md
  src/openqaoa-cirq/openqaoa_cirq/__init__.py
  src/openqaoa-cirq/openqaoa_cirq/_version.py
  src/openqaoa-cirq/openqaoa_cirq/backend_config.py
  src/openqaoa-cirq/openqaoa_cirq/backends/__init__.py
  src/openqaoa-cirq/openqaoa_cirq/backends/devices.py
  src/openqaoa-cirq/openqaoa_cirq/backends/gates_cirq.py
  src/openqaoa-cirq/openqaoa_cirq/backends/qaoa_cirq_qpu.py
  src/openqaoa-cirq/openqaoa_cirq/backends/qaoa_cirq_sim.py
  src/openqaoa-cirq/pyproject.toml
  src/openqaoa-cirq/requirements.txt
  src/openqaoa-cirq/setup.py
  src/openqaoa-cirq/tests/test_backends_qiskit.py
  src/openqaoa-cirq/tests/test_circuit_routing_qiskit.py
  src/openqaoa-cirq/tests/test_devices_qiskit.py
  src/openqaoa-cirq/tests/test_gate_applicators_qiskit.py
  src/openqaoa-cirq/tests/test_gates_qiskit.py
  src/openqaoa-cirq/tests/test_qiskit_backend_wrapper.py
  src/openqaoa-cirq/tests/test_qpu_qiskit.py
  src/openqaoa-cirq/tests/test_result_object_qiskit.py
  src/openqaoa-cirq/tests/test_sample_from_wavefunction_qiskit.py
  src/openqaoa-cirq/tests/test_sim_qiskit.py
  src/openqaoa-cirq/tests/test_workflows_qiskit.py
Due: none

Commented out most tests but they run
  src/openqaoa-cirq/tests/test_backends_cirq.py
  src/openqaoa-cirq/tests/test_circuit_routing_cirq.py
  src/openqaoa-cirq/tests/test_circuit_routing_qiskit.py
  src/openqaoa-cirq/tests/test_cirq_backend_wrapper.py
  src/openqaoa-cirq/tests/test_devices_cirq.py
  src/openqaoa-cirq/tests/test_devices_qiskit.py
  src/openqaoa-cirq/tests/test_gate_applicators_cirq.py
  src/openqaoa-cirq/tests/test_gate_applicators_qiskit.py
  src/openqaoa-cirq/tests/test_gates_cirq.py
  src/openqaoa-cirq/tests/test_gates_qiskit.py
  src/openqaoa-cirq/tests/test_qiskit_backend_wrapper.py
  src/openqaoa-cirq/tests/test_qpu_cirq.py
  src/openqaoa-cirq/tests/test_qpu_qiskit.py
  src/openqaoa-cirq/tests/test_result_object_cirq.py
  src/openqaoa-cirq/tests/test_result_object_qiskit.py
  src/openqaoa-cirq/tests/test_sample_from_wavefunction_cirq.py
  src/openqaoa-cirq/tests/test_sample_from_wavefunction_qiskit.py
  src/openqaoa-cirq/tests/test_sim_cirq.py
  src/openqaoa-cirq/tests/test_sim_qiskit.py
  src/openqaoa-cirq/tests/test_workflows_cirq.py
  src/openqaoa-cirq/tests/test_workflows_qiskit.py
Due: none

solved the problem with the flip_bits() method
  src/openqaoa-core/Untitled.ipynb
  src/openqaoa-core/openqaoa/backends/wrapper.py
Due: core

modified docs for error mitigation properties
  src/openqaoa-core/openqaoa/algorithms/baseworkflow.py
Due: core

addressed automatic formatting issues
  src/openqaoa-braket/openqaoa_braket/backends/qaoa_braket_qpu.py
  src/openqaoa-core/openqaoa/optimizers/training_vqa.py
  src/openqaoa-qiskit/openqaoa_qiskit/backends/qaoa_qiskit_qpu.py
Due: core, qiskit, braket

modified docs for set_error_mitigation_properties
  src/openqaoa-core/openqaoa/algorithms/baseworkflow.py
Due: core

fixed a typo in wrapper docs
  src/openqaoa-core/openqaoa/backends/wrapper.py
Due: core

fixed docs
  src/openqaoa-core/openqaoa/algorithms/workflow_properties.py
  src/openqaoa-core/openqaoa/backends/wrapper.py
Due: core

fixed typo in code£
  src/openqaoa-core/openqaoa/algorithms/workflow_properties.py
Due: core

refactored set_error_mitigation_properties in the Workflow
  src/openqaoa-core/openqaoa/algorithms/baseworkflow.py
Due: core

addressed automatic formatting issues
  src/openqaoa-core/openqaoa/algorithms/qaoa/qaoa_result.py
Due: core

fixed docs for ErrorMitigationProperties children classes
  src/openqaoa-core/openqaoa/algorithms/workflow_properties.py
Due: core

fixed docs for ErrorMitigationProperties
  src/openqaoa-core/openqaoa/algorithms/workflow_properties.py
Due: core
