Repository entropicalabs/openqaoa: changes, and which Codecov flags are due for each by the changed paths.
All: core, qiskit, braket, azure, pyquil

Updated qiskit qpu tests removing ibm_qasm_simulator and replacing with ibm_kyoto when possible
  src/openqaoa-qiskit/tests/test_qpu_qiskit.py
Due: qiskit

[skip ci] Clean up docstrings and removed commented code
  examples/15_Zero_Noise_Extrapolation.ipynb
  src/openqaoa-core/openqaoa/algorithms/baseworkflow.py
  src/openqaoa-core/openqaoa/algorithms/workflow_properties.py
  src/openqaoa-core/openqaoa/backends/wrapper.py
  src/openqaoa-qiskit/tests/test_qpu_qiskit.py
Due: core, qiskit

[skip ci] Removed another commented piece of code
  src/openqaoa-qiskit/tests/test_qpu_qiskit.py
Due: qiskit

remove qdk
  src/openqaoa-azure/pyproject.toml
Due: azure

add pyquil plugin
  src/openqaoa-core/pyproject.toml
  src/openqaoa-pyquil/pyproject.toml
Due: core, pyquil

updated python version in workflow
  .github/workflows/test_dev_ext.yml
  src/openqaoa-qiskit/requirements.txt
Due: qiskit

fix pyquil plugin
  src/openqaoa-pyquil/pyproject.toml
Due: pyquil

add package location
  src/openqaoa-azure/pyproject.toml
  src/openqaoa-braket/pyproject.toml
  src/openqaoa-core/pyproject.toml
  src/openqaoa-pyquil/pyproject.toml
  src/openqaoa-qiskit/pyproject.toml
Due: core, qiskit, braket, azure, pyquil

Updated get_cmap
  src/openqaoa-core/openqaoa/utilities.py
Due: core

Remove unused import
  src/openqaoa-core/requirements_test.txt
Due: core

[skip ci] Revert cplex requirements removal
  src/openqaoa-core/requirements_test.txt
Due: core

finalize changes, update docs, workflows, versions
  .github/workflows/test_pypi.yml
  .github/workflows/test_pypi_prerelease.yml
  MANIFEST.in
  docs/requirements.txt
  docs/source/index.rst
  docs/source/openqaoa_azure/openqaoa_azure_install.rst
  docs/source/openqaoa_braket/openqaoa_braket_install.rst
  docs/source/openqaoa_core/openqaoa_core_install.rst
  docs/source/openqaoa_metapackage_install.rst
  docs/source/openqaoa_pyquil/openqaoa_pyquil_install.rst
  docs/source/openqaoa_qiskit/openqaoa_qiskit_install.rst
  pyproject.toml
  pytest.ini
  runtime.txt
  scripts/push_package_pypi.sh
  src/openqaoa-azure/MANIFEST.in
  src/openqaoa-azure/README.md
  src/openqaoa-azure/openqaoa_azure/__init__.py
  src/openqaoa-azure/openqaoa_azure/_version.py
  src/openqaoa-braket/MANIFEST.in
  src/openqaoa-braket/README.md
  src/openqaoa-braket/openqaoa_braket/__init__.py
  src/openqaoa-braket/openqaoa_braket/_version.py
  src/openqaoa-core/MANIFEST.in
  src/openqaoa-core/README.md
  src/openqaoa-core/openqaoa/__init__.py
  src/openqaoa-core/openqaoa/_version.py
  src/openqaoa-pyquil/MANIFEST.in
  src/openqaoa-pyquil/README.md
  src/openqaoa-pyquil/openqaoa_pyquil/__init__.py
  src/openqaoa-pyquil/openqaoa_pyquil/_version.py
  src/openqaoa-qiskit/MANIFEST.in
  src/openqaoa-qiskit/README.md
  src/openqaoa-qiskit/openqaoa_qiskit/__init__.py
  src/openqaoa-qiskit/openqaoa_qiskit/_version.py
Due: core, qiskit, braket, azure, pyquil

update readthedoc python ver
  .readthedocs.yml
Due: none

updated imports in `simulators-comparison` example
  examples/02_simulators_comparison.ipynb
Due: none

review
  scripts/test_version.py
  src/openqaoa-braket/README.md
  src/openqaoa-core/README.md
  src/openqaoa-pyquil/README.md
  src/openqaoa-qiskit/README.md
Due: core, qiskit, braket, pyquil

mitiq dep update
  src/openqaoa-core/pyproject.toml
Due: core

updated `mitiq` requirement
  src/openqaoa-core/requirements.txt
Due: core

updated requirements
  src/openqaoa-core/requirements.txt
  src/openqaoa-qiskit/requirements.txt
Due: core, qiskit

Limited numpy version to 1.x
  src/openqaoa-core/requirements.txt
Due: core

Figure handling
  src/openqaoa-core/openqaoa/algorithms/qaoa/qaoa_benchmark.py
  src/openqaoa-core/openqaoa/algorithms/rqaoa/rqaoa_result.py
  src/openqaoa-core/openqaoa/problems/bpsp.py
  src/openqaoa-core/openqaoa/qaoa_components/variational_parameters/fourierparams.py
  src/openqaoa-core/openqaoa/qaoa_components/variational_parameters/standardparams.py
  src/openqaoa-core/openqaoa/utilities.py
Due: core

Figure handling
  src/openqaoa-core/openqaoa/qaoa_components/variational_parameters/annealingparams.py
  src/openqaoa-core/openqaoa/qaoa_components/variational_parameters/extendedparams.py
  src/openqaoa-core/openqaoa/qaoa_components/variational_parameters/fourierparams.py
  src/openqaoa-core/tests/test_results.py
Due: core

Exported cplex requirement toa different make command + added cplex pytest mark
  .github/workflows/test_dev.yml
  .github/workflows/test_dev_ext.yml
  .github/workflows/test_main_linux.yml
  .github/workflows/test_main_macos.yml
  .github/workflows/test_main_windows.yml
  pytest.ini
  src/openqaoa-core/requirements_test.txt
  src/openqaoa-core/setup.py
  src/openqaoa-core/tests/test_bin_packing.py
  src/openqaoa-core/tests/test_bpsp.py
  src/openqaoa-core/tests/test_kcolor.py
  src/openqaoa-core/tests/test_mis.py
  src/openqaoa-core/tests/test_portfolio_optimization.py
  src/openqaoa-core/tests/test_results.py
  src/openqaoa-core/tests/test_sk.py
  src/openqaoa-core/tests/test_tsp.py
  src/openqaoa-core/tests/test_vrp.py
  tests/test_notebooks.py
Due: core

Fixed plt.colorbar()
  src/openqaoa-core/openqaoa/algorithms/rqaoa/rqaoa_result.py
Due: core

Figure handling
  examples/09_RQAOA_example.ipynb
  src/openqaoa-core/openqaoa/algorithms/rqaoa/rqaoa_result.py
Due: core

Add pytest cplex mark to notebooks
  tests/test_notebooks.py
Due: none

Update makefile
  Makefile
Due: none

Updated makefile
  Makefile
  src/openqaoa-core/setup.py
Due: core

Update workflows
  .github/workflows/test_dev.yml
  .github/workflows/test_main_linux.yml
Due: none

Bumped python version for workflows to 3.9
  .github/workflows/publish.yml
  .github/workflows/test_dev.yml
  .github/workflows/test_dev_ext.yml
  .github/workflows/test_main_linux.yml
  .github/workflows/test_main_macos.yml
  .github/workflows/test_main_windows.yml
  .github/workflows/test_pypi.yml
  .github/workflows/test_pypi_prerelease.yml
Due: none

Change RotationAngle __repr__ to make first char a letter
  src/openqaoa-core/openqaoa/qaoa_components/ansatz_constructor/gatemaplabel.py
  src/openqaoa-core/openqaoa/qaoa_components/ansatz_constructor/rotationangle.py
Due: core

Revert import of GateMapLabel
  src/openqaoa-core/openqaoa/qaoa_components/ansatz_constructor/rotationangle.py
Due: core

Fix angle naming pyquil
  src/openqaoa-pyquil/openqaoa_pyquil/backends/qaoa_pyquil_qpu.py
Due: pyquil

Changed assertion into more meaningful and robust testing subroutines
  src/openqaoa-core/tests/test_workflows.py
Due: core

Fix typo in notebook for 04_qaoa_variational_parameters.ipynb
  examples/04_qaoa_variational_parameters.ipynb
Due: none

[skip ci] Bump versions number
  _version.py
  src/openqaoa-azure/openqaoa_azure/_version.py
  src/openqaoa-braket/openqaoa_braket/_version.py
  src/openqaoa-core/openqaoa/_version.py
  src/openqaoa-pyquil/openqaoa_pyquil/_version.py
  src/openqaoa-qiskit/openqaoa_qiskit/_version.py
Due: core, qiskit, braket, azure, pyquil

[skip ci] Update changelog
  CHANGELOG.md
Due: none

Fix RYYGate decomposition bug
  src/openqaoa-core/openqaoa/qaoa_components/ansatz_constructor/gatemap.py
Due: core

Add __init__.py files
  src/openqaoa-core/openqaoa/__init__.py
  src/openqaoa-core/openqaoa/algorithms/__init__.py
  src/openqaoa-core/openqaoa/algorithms/fqaoa/__init__.py
Due: none

Add fqaoa_workflow.py
  src/openqaoa-core/openqaoa/algorithms/fqaoa/fqaoa_workflow.py
Due: core

Path conditions:
  core: any of: src/openqaoa-core, but not: path/to/folder, src/*/*/backends/backend_config.py, **/__init__.py
  qiskit: any of: src/openqaoa-qiskit, but not: path/to/folder, src/*/*/backends/backend_config.py, **/__init__.py
  braket: any of: src/openqaoa-braket, but not: path/to/folder, src/*/*/backends/backend_config.py, **/__init__.py
  azure: any of: src/openqaoa-azure, but not: path/to/folder, src/*/*/backends/backend_config.py, **/__init__.py
  pyquil: any of: src/openqaoa-pyquil, but not: path/to/folder, src/*/*/backends/backend_config.py, **/__init__.py
