Repository entropicalabs/openqaoa: changes, and which Codecov flags are due for each by the changed paths.
All: core, qiskit, braket, azure, pyquil

renamed classes for ErrorMitigationProperties
  src/openqaoa-core/openqaoa/algorithms/baseworkflow.py
  src/openqaoa-core/openqaoa/algorithms/workflow_properties.py
Due: core

removed useless imports in wrapper
  src/openqaoa-core/openqaoa/backends/wrapper.py
Due: core

introduced exception for unsupported ZNE wrapper parameters
  src/openqaoa-core/openqaoa/backends/wrapper.py
Due: core

fixed set_error_mitigation_properties error
  src/openqaoa-core/openqaoa/algorithms/baseworkflow.py
Due: core

first two unittest for ZNEwrapper
  src/openqaoa-qiskit/tests/test_qiskit_backend_wrapper.py
Due: qiskit

add mitiq to requirements
  src/openqaoa-core/requirements.txt
Due: core

delete notebook
  src/openqaoa-core/Untitled.ipynb
Due: core

n_shots issue solved
  src/openqaoa-core/openqaoa/backends/wrapper.py
Due: core

add test for expectation zne wrapper
  src/openqaoa-qiskit/tests/test_qiskit_backend_wrapper.py
Due: qiskit

ZNE tutorial notebook
  examples/15_Zero_Noise_Extrapolation.ipynb
Due: none

add test for ZNE notebook
  tests/test_notebooks.py
Due: none

add test for ZNE notebook with correct name
  tests/test_notebooks.py
Due: none

the new zne tutorial uploaded
  examples/15_Zero_Noise_Extrapolation.ipynb
Due: none

changes for solving the docs error, and other sencondary issues
  docs/source/index.rst
  src/openqaoa-core/openqaoa/backends/wrapper.py
  src/openqaoa-qiskit/tests/test_qiskit_backend_wrapper.py
Due: core, qiskit

Remove outdated folding functions in mitiq
  examples/15_Zero_Noise_Extrapolation.ipynb
  src/openqaoa-core/openqaoa/algorithms/baseworkflow.py
  src/openqaoa-core/openqaoa/algorithms/workflow_properties.py
  src/openqaoa-core/openqaoa/backends/wrapper.py
Due: core

Changed qiskit backend for tests to ibm_kyoto with single shot after removal of simulators
  src/openqaoa-qiskit/tests/test_qpu_qiskit.py
Due: qiskit

increase python version
  .github/workflows/test_main_linux.yml
  .github/workflows/test_main_macos.yml
  .github/workflows/test_main_windows.yml
  setup.py
  src/openqaoa-azure/setup.py
  src/openqaoa-braket/setup.py
  src/openqaoa-core/setup.py
  src/openqaoa-pyquil/setup.py
  src/openqaoa-qiskit/setup.py
Due: core, qiskit, braket, azure, pyquil

upgrade pyproject
  setup.py
  src/openqaoa-azure/setup.py
  src/openqaoa-braket/setup.py
  src/openqaoa-core/setup.py
  src/openqaoa-pyquil/setup.py
  src/openqaoa-qiskit/setup.py
Due: core, qiskit, braket, azure, pyquil

upgrade requriements consistently with python 3.11
  src/openqaoa-core/requirements.txt
Due: core

fix docs
  docs/source/index.rst
  docs/source/openqaoa_metapackage_install.rst
Due: none

migrated to qiskit 1.0
  src/openqaoa-azure/requirements.txt
  src/openqaoa-qiskit/openqaoa_qiskit/backends/qaoa_qiskit_sim.py
  src/openqaoa-qiskit/requirements.txt
Due: qiskit, azure

fixed tests and added `qiskit-ibm-runtime` as a requirement
  src/openqaoa-qiskit/openqaoa_qiskit/backends/qaoa_qiskit_sim.py
  src/openqaoa-qiskit/requirements.txt
  src/openqaoa-qiskit/tests/test_qpu_qiskit.py
  src/openqaoa-qiskit/tests/test_workflows_qiskit.py
Due: qiskit

added `pydantic` to requirements
  src/openqaoa-qiskit/requirements.txt
Due: qiskit

move setup.py and requirements to pyproject.toml
  _version.py
  pyproject.toml
  setup.py
  src/openqaoa-azure/pyproject.toml
  src/openqaoa-azure/requirements.txt
  src/openqaoa-azure/setup.py
  src/openqaoa-braket/pyproject.toml
  src/openqaoa-braket/requirements.txt
  src/openqaoa-braket/setup.py
  src/openqaoa-core/pyproject.toml
  src/openqaoa-core/requirements.txt
  src/openqaoa-core/requirements_docs.txt
  src/openqaoa-core/requirements_test.txt
  src/openqaoa-core/setup.py
  src/openqaoa-pyquil/pyproject.toml
  src/openqaoa-pyquil/requirements.txt
  src/openqaoa-pyquil/setup.py
  src/openqaoa-qiskit/pyproject.toml
  src/openqaoa-qiskit/requirements.txt
  src/openqaoa-qiskit/setup.py
Due: core, qiskit, braket, azure, pyquil

update docs
  docs/source/openqaoa_metapackage_install.rst
Due: none

updatw workflow
  .github/workflows/test_main_linux.yml
  .github/workflows/test_main_macos.yml
  .github/workflows/test_main_windows.yml
Due: none

better formatting
  pyproject.toml
Due: none

changed `pydantic` version
  src/openqaoa-qiskit/requirements.txt
Due: qiskit

add cyclic to mixer_qubit_connectivity
  src/openqaoa-core/openqaoa/utilities.py
Due: core

python 3.11
  .github/workflows/test_dev_ext.yml
  pyproject.toml
  scripts/test_version.py
  src/openqaoa-azure/pyproject.toml
  src/openqaoa-braket/pyproject.toml
  src/openqaoa-core/pyproject.toml
  src/openqaoa-core/requirements.txt
  src/openqaoa-pyquil/pyproject.toml
  src/openqaoa-qiskit/pyproject.toml
Due: core, qiskit, braket, azure, pyquil

review and cplex
  docs/source/index.rst
  src/openqaoa-core/pyproject.toml
Due: core

workflows
  .github/workflows/publish.yml
  .github/workflows/test_dev.yml
  .github/workflows/test_dev_ext.yml
  .github/workflows/test_main_linux.yml
  .github/workflows/test_main_macos.yml
  .github/workflows/test_main_windows.yml
  .github/workflows/test_pypi.yml
  .github/workflows/test_pypi_prerelease.yml
Due: none

doc
  docs/source/openqaoa_metapackage_install.rst
  pyproject.toml
Due: none

fix matplotlib
  src/openqaoa-core/pyproject.toml
Due: core

make workflow use local version
  .github/workflows/test_dev_ext.yml
Due: none

remove redundant dep in core
  src/openqaoa-azure/pyproject.toml
  src/openqaoa-core/pyproject.toml
  src/openqaoa-pyquil/requirements.txt
Due: core, azure, pyquil

Add unit tests for cyclic connectivity in XY_mixer_hamiltonian
  src/openqaoa-core/tests/test_utilities.py
Due: core

Path conditions:
  core: any of: src/openqaoa-core, but not: path/to/folder, src/*/*/backends/backend_config.py, **/__init__.py
  qiskit: any of: src/openqaoa-qiskit, but not: path/to/folder, src/*/*/backends/backend_config.py, **/__init__.py
  braket: any of: src/openqaoa-braket, but not: path/to/folder, src/*/*/backends/backend_config.py, **/__init__.py
  azure: any of: src/openqaoa-azure, but not: path/to/folder, src/*/*/backends/backend_config.py, **/__init__.py
  pyquil: any of: src/openqaoa-pyquil, but not: path/to/folder, src/*/*/backends/backend_config.py, **/__init__.py
